<!doctype html>
<html ng-app='microSave'>
<head data-template-set='html5-reset' id='www-sitename-com'>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Welcome to MicroSave | Market-led solutions for financial services</title>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta content='MicroSave' name='title'>
    <meta content='MicroSave' name='description'>
    <!-- Google will often use this as its description of your page/site. Make it good. -->
    <meta content='MicroSave' name='google-site-verification'>
    <meta content='MicroSave' name='author'>
    <meta content='Copyright &amp;copy; 2013 MicroSave. All Rights Reserved.' name='Copyright'>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport'>
    <link href='images/favicon.ico' rel='shortcut icon'>
    <link href='prod_css/production.min.css' rel='stylesheet' type='text/css'>
</head>
<body>