log/
log/*
nbproject/
.idea/
public/system/
public/uploads/
vendor/cache/*
tmp/pids
public/ckeditor_assets/
config/database.yml
.bundle/
MyProject.komodoproject
nbproject/
.sass-cache/
node_modules/*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log