<!-- Content section start -->
<div class='mainWrap clearfix'>
    <section class='slider-wrap'>
        <div class='container'>
            <div class='row'>
                <div class='span6'>
                    <aside class='sliderout' ng-controller='sliderController as image'>
                        <div class='cycle-slideshow' data-cycle-fx='scrollHorz' data-cycle-pager='.cycle-pager1' data-cycle-slides='.sliderImages' data-cycle-tile-count='12' data-cycle-tile-vertical='true' data-cycle-timeout='3000'>
                            <!-- empty element for pager links -->
                            <div class='cycle-pager'></div>
                            <div class='sliderImages' ng-repeat='sliderImages in image.sliderImages'>
                                <img alt='' ng-src='{{sliderImages}}'>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <br>
                            Proin ut tellus nulla, a commodo leo.
                            </br>
                        </p>
                        <div class='cycle-pager1'></div>
                    </aside>
                </div>
                <div class='span3'>
                    <aside class='whatwd'>
                        <h4 class='clearfix'>
                            <strong>What we do?</strong>
                            <span class='setting-ico'></span>
                        </h4>
                        <p>
                            MicroSave is a diversified development consultancy that works to better the lives of
                            low-income
                            people.
                        </p>
                        <p class='established'>
                            Established in 1998 as a joint UNCDF/DFID project in East and Southern
                            Africa, today we have offices and staff in 24 countries around the world with headquarters
                            in
                            Lucknow, India.
                        </p>
                        <a class='operate' href='javascript:void(0);'>
                            <h4 class='whtop clearfix'>
                                <strong>Where we Operate?</strong>
                                <span class='marker-ico'></span>
                            </h4>
                        </a>
                    </aside>
                </div>
                <div class='span3'>
                    <aside class='announsmnt'>
                        <h4 class='clearfix'>
                            <strong>Announcements</strong>
                            <span class='mic-ico'></span>
                        </h4>
                        <ul class='ticker' id='ticker_02'>
                            <li>
                                1. Lorem ipsum dolor sit amet, contur adipiscing elit mi eleifend...
                                <p>
                                    By
                                    <strong>Amol</strong>
                                    on 21July 2012
                                </p>
                            </li>
                            <li>
                                2. Lorem ipsum dolor sit amet, contur adipiscing elit mi eleifend...
                                <p>
                                    By
                                    <strong>Amol</strong>
                                    on 21July 2012
                                </p>
                            </li>
                            <li>
                                3. Lorem ipsum dolor sit amet, contur adipiscing elit mi eleifend...
                                <p>
                                    By
                                    <strong>Amol</strong>
                                    on 21July 2012
                                </p>
                            </li>
                        </ul>
                        <a class='viewmore' href='javascript:void(0);'>View More</a>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <section class='clearfix sectorsMap'>
        <aside class='Sectors clearfix'>
            <!-- gray content -->
            <div class='container'>
                <h2>Sectors we work in</h2>
                <ul class='worklist clearfix'>
                    <li>
                        <a href='javascript:void(0);'>
                            <span>Microfinance and Banking</span>
                            <img alt='' src='images/frt1.jpg' title=''>
                        </a>
                    </li>
                    <li>
                        <a href='javascript:void(0);'>
                            <span>E/M-Banking for Financial Inclusion</span>
                            <img alt='' src='images/frt2.jpg' title=''>
                        </a>
                    </li>
                    <li>
                        <a href='javascript:void(0);'>
                            <span>Private Sector Development</span>
                            <img alt='' src='images/frt3.jpg' title=''>
                        </a>
                    </li>
                    <li>
                        <a href='javascript:void(0);'>
                            <span>Small &amp; Medium Enterprise Financing</span>
                            <img alt='' src='images/frt4.jpg' title=''>
                        </a>
                    </li>
                    <li>
                        <a href='javascript:void(0);'>
                            <span>Responsible Finance</span>
                            <img alt='' src='images/frt5.jpg' title=''>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <aside>
            <div class='container'>
                <div class='sep'>
                    <img alt='' src='images/bdrimg.jpg'>
                </div>
            </div>
        </aside>
        <aside class='making_difference clearfix'>
            <div class='container'>
                <h3 class='making'>Making a difference, Across Borders & Nations</h3>
                <p class='wadiverse'>
                    We are a diverse development consultancy working in India, Kenya, the Philippines,
                    Papua New Guinea and Colombia
                </p>
                <div class='map clearfix'>
                    <img alt='' src='images/map.png' title=''>
                    <a data-content='&lt;div&gt;&lt;p&gt;Projects &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Offices &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Staff Location &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;' href='javascript:void(0);' id='pointer1' rel='popover'>
                        <img alt='' src='images/map-pointer.png'>
                    </a>
                    <a data-content='&lt;div&gt;&lt;p&gt;Projects &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Offices &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Staff Location &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;' href='javascript:void(0);' id='pointer2' rel='popover'>
                        <img alt='' src='images/map-pointer.png'>
                    </a>
                    <a data-content='&lt;div&gt;&lt;p&gt;Projects &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Offices &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Staff Location &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;' href='javascript:void(0);' id='pointer3' rel='popover'>
                        <img alt='' src='images/map-pointer.png'>
                    </a>
                    <a data-content='&lt;div&gt;&lt;p&gt;Projects &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Offices &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Staff Location &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;' data-html='true' href='javascript:void(0);' id='pointer4' rel='popover'>
                        <img alt='' src='images/map-pointer.png'>
                    </a>
                    <a data-content='&lt;div&gt;&lt;p&gt;Projects &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Offices &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Staff Location &lt;span&gt;0000&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;' href='javascript:void(0);' id='pointer5' rel='popover'>
                        <img alt='' src='images/map-pointer.png'>
                    </a>
                    </img>
                </div>
            </div>
        </aside>
    </section>
</div>
<!-- Content section End -->
